.home{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-around;
    background-color: rgba(162, 186, 214, 0.689);
}
.card{
    width: 23rem;
    height: 22rem;
    border-radius: 20px;
    background-color: rgb(76, 95, 128);
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 4px 4px 8px rgb(40, 39, 81);
    padding-top: 15px;
}
.card img{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 19rem;
    height: 9rem;
    border-radius: 5px;
    
}
.card h1{
    font-size: 15px;
    color: antiquewhite;
    text-shadow: 2px 2px 4px black;
    
}
.card p{
    font-size: 15px;
    padding: 3px;
    text-align: justify;
    color: rgb(193, 170, 170);
    margin-top: -10px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);

}
.card small{
    font-size: 13px;
    margin-top: -8px;
    margin-right: -10px;
}

.btn{
    width: 120px;
    height: 40px;
    background-color: rgb(60, 255, 0);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight:500;
    
}
.btn:hover{
    background-color: rgb(60, 255, 0);
}
.btn a{
    text-decoration: none;
    color: black;
}
.data_date{
    position: absolute;
    margin-left: 20px;
    margin-bottom: 10px;
    bottom: 0;
    left: 0;
    color: wheat;
}